* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 15px;
    align-self: center;
}

form {
    display: flex;
    width: 300px;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 20%;
    align-self: center;
}

p {
    margin-top: 5px;
    font-size: 12px;
    display: none;
    flex-basis: 100%;
    text-align: center;
    color: red;
}

div {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.show {
    display: block;
}

.not-valid {
    background-color: lightcoral;
}
