* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 15px;
}

form {
    display: flex;
    width: 300px;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

button {


    width: 20%;
}

p {
    text-align: center;
    color: red;
}

p {
    font-size: 12px;
    display: none;
}

.show {
    display: block;
}

.not-valid {
    background-color: lightcoral;
}
